### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [108]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()
#school_data_complete["budget"]=school_data_complete["budget"].map("${:, .2f}")
school_data_complete

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [109]:
total_number_school= school_data_complete["school_name"].nunique()
#find out the total school number by counting their unqiue school names 
print(total_number_school)
# counting student total number by unique student ID 
total_number_student=school_data_complete["Student ID"].nunique()
print(total_number_student)
# use sum function to work out the total  budget
total_budget=school_data["budget"].sum()
print(total_budget)
#use mean function to work out the average of math score and reading score 
math_score_average=school_data_complete["maths_score"] .mean()
print(math_score_average)
reading_score_average=school_data_complete["reading_score"] .mean()
print(reading_score_average)




filter_math_df= school_data_complete.loc[school_data_complete["maths_score"]>= 50, ["Student ID"]]
filter_math_number= filter_math_df["Student ID"].nunique()
filter_math_percentage= filter_math_number/total_number_student*100
print(filter_math_percentage)

15
39170
24649428
70.33819249425581
69.98013786060761
86.07863160582077

In [110]:
filter_reading_df=school_data_complete.loc[school_data_complete["reading_score"]>=50,["Student ID"]]
filter_reading_number= filter_reading_df["Student ID"].nunique()
filter_reading_percentage=filter_reading_number/total_number_student*100
print(filter_reading_percentage)

84.42685728874139

In [111]:
overallpass_df=school_data_complete.loc[(school_data_complete["maths_score"]>= 50) & (school_data_complete["reading_score"]>=50),["Student ID"]]
overpass_student=overallpass_df["Student ID"].nunique()
overall_percentage = overpass_student/total_number_student*100
print(overall_percentage)
overall_df=pd.DataFrame({"Total School":[total_number_school],
                        "Total Students":[total_number_student],
                        "Total Budget":[total_budget],
                        "Average Math Scores":[math_score_average],
                        "Average Reading Score":[reading_score_average],
                        "% Passing Maths":[filter_math_percentage],
                        "% Passing Reading":[filter_reading_percentage],
                        "% Overall Passing":[overall_percentage]})
overall_df

72.80827163645647

,Total School,Total Students,Total Budget,Average Math Scores,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,72.808272

In [112]:
#overall_df["Total Budget"]= overall_df["Total Budget"].map("${:, .2f}")

overall_df["Total Students"] = overall_df["Total Students"].map("{:,}".format)
overall_df

,Total School,Total Students,Total Budget,Average Math Scores,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170",24649428,70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [113]:
school_summary_df= school_data_complete.groupby(["school_name"])

school_summary_df.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10,Thomas High School,58,98,14,Independent,1635,1043130
37536,37536,Cody Miller,M,11,Thomas High School,51,93,14,Independent,1635,1043130
37537,37537,Erik Snyder,M,9,Thomas High School,72,60,14,Independent,1635,1043130
37538,37538,Tanya Martinez,F,9,Thomas High School,68,86,14,Independent,1635,1043130
37539,37539,Noah Erickson,M,9,Thomas High School,73,72,14,Independent,1635,1043130

In [114]:
student_number_summary=school_summary_df["Student ID"].nunique()
student_number_summary

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [115]:
total_budget__summary=school_summary_df["budget"].mean()
total_budget__summary

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [116]:
per_student_budget=total_budget__summary/student_number_summary
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [117]:
average_math_summary=school_summary_df["maths_score"].mean()
average_reading_summary=school_summary_df["reading_score"].mean()

In [122]:
math_passing_summary=school_summary_df.loc[school_summary_df["maths_score"]>= 50,["Student ID"]]
print(math_passing_summary)

#math_passing_students=school_summary_df["Student ID"].nunique()

#math_percentage_summary= math_passing_students/student_number_summary*100
#print(math_percentage_summary)

AttributeError: 'DataFrameGroupBy' object has no attribute 'loc'

In [ ]:
reading_passing_summary= school_summary_df.loc[["reading_score"]>=50,["Studnet ID"]]
reading_passing_students= school_summary_df["Student ID"].nunique()
reading_percentage_summary=reading_passing_summary/student_number_summary*100

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Year

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type