### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [94]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [95]:
total_number_school= school_data_complete["school_name"].nunique()
#find out the total school number by counting their unqiue school names 
print(total_number_school)
# counting student total number by unique student ID 
total_number_student=school_data_complete["Student ID"].nunique()
print(total_number_student)
# use sum function to work out the total  budget
total_budget=school_data["budget"].sum()
print(total_budget)
#use mean function to work out the average of math score and reading score 
math_score_average=school_data_complete["maths_score"] .mean()
print(math_score_average)
reading_score_average=school_data_complete["reading_score"] .mean()
print(reading_score_average)




filter_math_df= school_data_complete.loc[school_data_complete["maths_score"]>= 50,:]
filter_math_number= filter_math_df["Student ID"].nunique()
filter_math_percentage= filter_math_number/total_number_student*100
print(filter_math_percentage)

15
39170
24649428
70.33819249425581
69.98013786060761
86.07863160582077

In [96]:
filter_reading_df=school_data_complete.loc[school_data_complete["reading_score"]>=50,:]
filter_reading_number= filter_reading_df["Student ID"].nunique()
filter_reading_percentage=filter_reading_number/total_number_student*100
print(filter_reading_percentage)

84.42685728874139

In [97]:
overallpass_df=school_data_complete.loc[(school_data_complete["maths_score"]>= 50) & (school_data_complete["reading_score"]>=50),:]
overpass_student=overallpass_df["Student ID"].nunique()
overall_percentage = overpass_student/total_number_student*100
print(overall_percentage)
overall_df=pd.DataFrame({"Total School":[total_number_school],
                        "Total Students":[total_number_student],
                        "Total Budget":[total_budget],
                        "Average Math Scores":[math_score_average],
                        "Average Reading Score":[reading_score_average],
                        "% Passing Maths":[filter_math_percentage],
                        "% Passing Reading":[filter_reading_percentage],
                        "% Overall Passing":[overall_percentage]})
overall_df

72.80827163645647

,Total School,Total Students,Total Budget,Average Math Scores,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,72.808272

In [98]:


overall_df["Total Students"] = overall_df["Total Students"].map("{:,}".format)
overall_df["Total Budget"]= overall_df["Total Budget"].map("${:,.2f}".format)
overall_df

,Total School,Total Students,Total Budget,Average Math Scores,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [99]:
school_summary_df= school_data_complete.groupby(["school_name"])

school_summary_df

school_summary_df.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10,Thomas High School,58,98,14,Independent,1635,1043130
37536,37536,Cody Miller,M,11,Thomas High School,51,93,14,Independent,1635,1043130
37537,37537,Erik Snyder,M,9,Thomas High School,72,60,14,Independent,1635,1043130
37538,37538,Tanya Martinez,F,9,Thomas High School,68,86,14,Independent,1635,1043130
37539,37539,Noah Erickson,M,9,Thomas High School,73,72,14,Independent,1635,1043130

In [100]:
school_type=school_summary_df["type"].unique()

school_type=school_type.str[0]

In [101]:
student_number_summary=school_summary_df["Student ID"].nunique()
student_number_summary

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [102]:
total_budget__summary=school_summary_df["budget"].mean()
total_budget__summary

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [103]:
per_student_budget=total_budget__summary/student_number_summary
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [104]:
average_math_summary=school_summary_df["maths_score"].mean()
#print(average_math_summary)

average_reading_summary=school_summary_df["reading_score"].mean()
#print(average_reading_summary)

In [105]:
math_passing_summary=filter_math_df.groupby(["school_name"])
math_percentage_summary=math_passing_summary["maths_score"].count()/student_number_summary*100
print(math_percentage_summary)

school_name
Bailey High School       91.639871
Cabrera High School      90.850377
Figueroa High School     81.654798
Ford High School         82.438846
Griffin High School      91.212534
Hernandez High School    80.949299
Holden High School       89.929742
Huang High School        81.693521
Johnson High School      82.062592
Pena High School         91.683992
Rodriguez High School    90.797699
Shelton High School      91.538898
Thomas High School       83.853211
Wilson High School       82.785808
Wright High School       91.777778
dtype: float64

In [106]:
reading_passing_summary=filter_reading_df.groupby(["school_name"])
reading_percentage_summary= reading_passing_summary["reading_score"].count()/student_number_summary*100
print(reading_percentage_summary)

school_name
Bailey High School       87.379421
Cabrera High School      89.074273
Figueroa High School     82.807731
Ford High School         82.219788
Griffin High School      88.487738
Hernandez High School    81.877023
Holden High School       88.524590
Huang High School        81.453548
Johnson High School      81.978576
Pena High School         86.590437
Rodriguez High School    87.396849
Shelton High School      86.712095
Thomas High School       82.629969
Wilson High School       81.296540
Wright High School       86.666667
dtype: float64

In [107]:
overallpass_summary=overallpass_df.groupby(["school_name"])
overall_percentage_summary=overallpass_summary["Student ID"].count()/student_number_summary* 100
print(overall_percentage_summary)

school_name
Bailey High School       80.084405
Cabrera High School      80.785791
Figueroa High School     67.650051
Ford High School         67.469880
Griffin High School      81.335150
Hernandez High School    66.364617
Holden High School       78.922717
Huang High School        66.712376
Johnson High School      67.191766
Pena High School         79.209979
Rodriguez High School    79.419855
Shelton High School      78.875639
Thomas High School       69.480122
Wilson High School       67.455103
Wright High School       79.722222
Name: Student ID, dtype: float64

In [108]:
overview_school_df=pd.DataFrame({"School Type":school_type,
"Total Students":student_number_summary,
"Total School Budget":total_budget__summary,
"Per Student Budget":per_student_budget,
"Average Maths Score":average_math_summary,
"Average Reading Score":average_reading_summary,
"% Passing Maths":math_percentage_summary,
"% Passing Reading":reading_percentage_summary,
"%Overall Passing":overall_percentage_summary})
overview_school_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,%Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,4976,3124928.0,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,1081356.0,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,1884411.0,639.0,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,1763916.0,644.0,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,917500.0,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,3022020.0,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,248087.0,581.0,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,1910635.0,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650.0,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,585858.0,609.0,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,2547363.0,637.0,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,1056600.0,600.0,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,1043130.0,638.0,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,1319574.0,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,1049400.0,583.0,72.047222,70.969444,91.777778,86.666667,79.722222

In [109]:
overview_school_df["Total Students"] = overview_school_df["Total Students"].map("{:,}".format)
overview_school_df["Total School Budget"]=overview_school_df["Total School Budget"].map("${:,.2f}".format)
overview_school_df["Per Student Budget"]=overview_school_df["Per Student Budget"].map("${:,.2f}".format)
overview_school_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,%Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,"4,976","$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,"1,858","$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,"2,949","$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,"2,739","$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,"1,468","$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,"4,635","$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,"2,917","$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,"4,761","$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,"3,999","$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,"1,761","$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,"1,635","$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,"2,283","$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,"1,800","$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [110]:
top_performing=overview_school_df.sort_values("%Overall Passing",ascending=False)
top_performing.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,%Overall Passing
school_name,,,,,,,,,
Griffin High School,Independent,"1,468","$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,"1,858","$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,"4,976","$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,"1,800","$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,"3,999","$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [111]:
top_performing=overview_school_df.sort_values("%Overall Passing",ascending=False)
top_performing.tail()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,%Overall Passing
school_name,,,,,,,,,
Ford High School,Government,"2,739","$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Wilson High School,Independent,"2,283","$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Johnson High School,Government,"4,761","$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Huang High School,Government,"2,917","$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Hernandez High School,Government,"4,635","$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [112]:
year9=student_data.loc[(student_data["year"]== 9)]

year10=student_data.loc[(student_data["year"]==10)]

year11=student_data.loc[(student_data["year"]== 11)]

year12=student_data.loc[(student_data["year"]== 12)]

year9_school=year9.groupby(["school_name"])
year9_math_average= year9_school["maths_score"].mean()

year10_school= year10.groupby(["school_name"])
year10_math_average= year10_school["maths_score"].mean()

year11_school=year11.groupby(["school_name"])
year11_math_average=year11_school["maths_score"].mean()

year12_school=year12.groupby(["school_name"])
year12_math_average=year12_school["maths_score"].mean()

math_year_df= pd.DataFrame({"Year 9":year9_math_average,
                            "Year 10":year10_math_average,
                            "Year 11":year11_math_average,
                            "Year 12":year12_math_average})


math_year_df

                          Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

## Reading Score by Year

* Perform the same operations as above for reading scores

In [113]:
year9_reading_average= year9_school["reading_score"].mean()
year10_reading_average= year10_school["reading_score"].mean()
year11_reading_average= year11_school["reading_score"].mean()
year12_reading_average= year12_school["reading_score"].mean()

reading_year_df= pd.DataFrame({"Year 9":year9_reading_average,
                            "Year 10":year10_reading_average,
                            "Year 11":year11_reading_average,
                            "Year 12":year12_reading_average})

reading_year_df

                          Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [114]:
school_summary2=pd.DataFrame({"Per Student Budget":per_student_budget,
"Average Maths Score":average_math_summary,
"Average Reading Score":average_reading_summary,
"% Passing Maths":math_percentage_summary,
"% Passing Reading":reading_percentage_summary,
"%Overall Passing":overall_percentage_summary})

In [115]:


bins =[0,585,630, 645, 680]
group_names=["< $585","$585-630","$630-645","$645-680"]
school_summary2["Spending Ranges(Per Student)"]=pd.cut(school_summary2["Per Student Budget"], bins, labels=group_names)
school_summary2

,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,%Overall Passing,Spending Ranges(Per Student)
school_name,,,,,,,
Bailey High School,628.0,72.352894,71.008842,91.639871,87.379421,80.084405,$585-630
Cabrera High School,582.0,71.657158,71.359526,90.850377,89.074273,80.785791,< $585
Figueroa High School,639.0,68.698542,69.077993,81.654798,82.807731,67.650051,$630-645
Ford High School,644.0,69.091274,69.572472,82.438846,82.219788,67.469880,$630-645
Griffin High School,625.0,71.788147,71.245232,91.212534,88.487738,81.335150,$585-630
Hernandez High School,652.0,68.874865,69.186408,80.949299,81.877023,66.364617,$645-680
Holden High School,581.0,72.583138,71.660422,89.929742,88.524590,78.922717,< $585
Huang High School,655.0,68.935207,68.910525,81.693521,81.453548,66.712376,$645-680
Johnson High School,650.0,68.843100,69.039277,82.062592,81.978576,67.191766,$645-680
Pena High School,609.0,72.088358,71.613306,91.683992,86.590437,79.209979,$585-630
Rodriguez High School,637.0,72.047762,70.935984,90.797699,87.396849,79.419855,$630-645
Shelton High School,600.0,72.034072,70.257808,91.538898,86.712095,78.875639,$585-630
Thomas High School,638.0,69.581651,69.768807,83.853211,82.629969,69.480122,$630-645
Wilson High School,578.0,69.170828,68.876916,82.785808,81.296540,67.455103,< $585
Wright High School,583.0,72.047222,70.969444,91.777778,86.666667,79.722222,< $585

In [116]:
school_summary2.drop("Per Student Budget",axis=1, inplace =True)
school_summary2.reset_index()

,school_name,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,%Overall Passing,Spending Ranges(Per Student)
0,Bailey High School,72.352894,71.008842,91.639871,87.379421,80.084405,$585-630
1,Cabrera High School,71.657158,71.359526,90.850377,89.074273,80.785791,< $585
2,Figueroa High School,68.698542,69.077993,81.654798,82.807731,67.650051,$630-645
3,Ford High School,69.091274,69.572472,82.438846,82.219788,67.469880,$630-645
4,Griffin High School,71.788147,71.245232,91.212534,88.487738,81.335150,$585-630
5,Hernandez High School,68.874865,69.186408,80.949299,81.877023,66.364617,$645-680
6,Holden High School,72.583138,71.660422,89.929742,88.524590,78.922717,< $585
7,Huang High School,68.935207,68.910525,81.693521,81.453548,66.712376,$645-680
8,Johnson High School,68.843100,69.039277,82.062592,81.978576,67.191766,$645-680
9,Pena High School,72.088358,71.613306,91.683992,86.590437,79.209979,$585-630
10,Rodriguez High School,72.047762,70.935984,90.797699,87.396849,79.419855,$630-645
11,Shelton High School,72.034072,70.257808,91.538898,86.712095,78.875639,$585-630
12,Thomas High School,69.581651,69.768807,83.853211,82.629969,69.480122,$630-645
13,Wilson High School,69.170828,68.876916,82.785808,81.296540,67.455103,< $585
14,Wright High School,72.047222,70.969444,91.777778,86.666667,79.722222,< $585

In [117]:
school_spending=school_summary2.groupby("Spending Ranges(Per Student)")
school_spending.mean()

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,%Overall Passing
Spending Ranges(Per Student),,,,,
< $585,71.364587,70.716577,88.835926,86.390517,76.721458
$585-630,72.065868,71.031297,91.518824,87.292423,79.876293
$630-645,69.854807,69.838814,84.686139,83.763585,71.004977
$645-680,68.884391,69.045403,81.568470,81.769716,66.756253

## Scores by School Size

* Perform the same operations as above, based on school size.

In [118]:
school_size=school_summary_df["size"].unique()
school_size=school_size.str[0]

In [119]:
school_summary3=pd.DataFrame({"Size":school_size,
                            "Average Maths Score":average_math_summary,
                            "Average Reading Score":average_reading_summary,
                            "% Passing Maths":math_percentage_summary,
                            "% Passing Reading":reading_percentage_summary,
                             "%Overall Passing":overall_percentage_summary})
school_summary3

,Size,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,%Overall Passing
school_name,,,,,,
Bailey High School,4976,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,1858,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,2949,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,2739,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,1468,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,4635,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,427,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,2917,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,4761,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,962,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,3999,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,1761,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,1635,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,2283,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,1800,72.047222,70.969444,91.777778,86.666667,79.722222

In [120]:
bins_size= [0,999,1999,5000]
size_group=["Small(<1000)","Medium(1000-2000)","Large(2000-5000)"]
school_summary3["School Size"]=pd.cut(school_summary3["Size"], bins=bins_size, labels=size_group)
school_summary3

,Size,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,%Overall Passing,School Size
school_name,,,,,,,
Bailey High School,4976,72.352894,71.008842,91.639871,87.379421,80.084405,Large(2000-5000)
Cabrera High School,1858,71.657158,71.359526,90.850377,89.074273,80.785791,Medium(1000-2000)
Figueroa High School,2949,68.698542,69.077993,81.654798,82.807731,67.650051,Large(2000-5000)
Ford High School,2739,69.091274,69.572472,82.438846,82.219788,67.469880,Large(2000-5000)
Griffin High School,1468,71.788147,71.245232,91.212534,88.487738,81.335150,Medium(1000-2000)
Hernandez High School,4635,68.874865,69.186408,80.949299,81.877023,66.364617,Large(2000-5000)
Holden High School,427,72.583138,71.660422,89.929742,88.524590,78.922717,Small(<1000)
Huang High School,2917,68.935207,68.910525,81.693521,81.453548,66.712376,Large(2000-5000)
Johnson High School,4761,68.843100,69.039277,82.062592,81.978576,67.191766,Large(2000-5000)
Pena High School,962,72.088358,71.613306,91.683992,86.590437,79.209979,Small(<1000)
Rodriguez High School,3999,72.047762,70.935984,90.797699,87.396849,79.419855,Large(2000-5000)
Shelton High School,1761,72.034072,70.257808,91.538898,86.712095,78.875639,Medium(1000-2000)
Thomas High School,1635,69.581651,69.768807,83.853211,82.629969,69.480122,Medium(1000-2000)
Wilson High School,2283,69.170828,68.876916,82.785808,81.296540,67.455103,Large(2000-5000)
Wright High School,1800,72.047222,70.969444,91.777778,86.666667,79.722222,Medium(1000-2000)

In [122]:
school_summary3.drop("Size",axis=1, inplace=True)
school_summary3.reset_index()

,school_name,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,%Overall Passing,School Size
0,Bailey High School,72.352894,71.008842,91.639871,87.379421,80.084405,Large(2000-5000)
1,Cabrera High School,71.657158,71.359526,90.850377,89.074273,80.785791,Medium(1000-2000)
2,Figueroa High School,68.698542,69.077993,81.654798,82.807731,67.650051,Large(2000-5000)
3,Ford High School,69.091274,69.572472,82.438846,82.219788,67.469880,Large(2000-5000)
4,Griffin High School,71.788147,71.245232,91.212534,88.487738,81.335150,Medium(1000-2000)
5,Hernandez High School,68.874865,69.186408,80.949299,81.877023,66.364617,Large(2000-5000)
6,Holden High School,72.583138,71.660422,89.929742,88.524590,78.922717,Small(<1000)
7,Huang High School,68.935207,68.910525,81.693521,81.453548,66.712376,Large(2000-5000)
8,Johnson High School,68.843100,69.039277,82.062592,81.978576,67.191766,Large(2000-5000)
9,Pena High School,72.088358,71.613306,91.683992,86.590437,79.209979,Small(<1000)
10,Rodriguez High School,72.047762,70.935984,90.797699,87.396849,79.419855,Large(2000-5000)
11,Shelton High School,72.034072,70.257808,91.538898,86.712095,78.875639,Medium(1000-2000)
12,Thomas High School,69.581651,69.768807,83.853211,82.629969,69.480122,Medium(1000-2000)
13,Wilson High School,69.170828,68.876916,82.785808,81.296540,67.455103,Large(2000-5000)
14,Wright High School,72.047222,70.969444,91.777778,86.666667,79.722222,Medium(1000-2000)

In [124]:
school_size_df = school_summary3.groupby("School Size")
school_size_df.mean()

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,%Overall Passing
School Size,,,,,
Small(<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium(1000-2000),71.421650,70.720164,89.846560,86.714149,78.039785
Large(2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

## Scores by School Type

* Perform the same operations as above, based on school type

In [125]:
school_summary4=pd.DataFrame({"School Type":school_type,
                "Average Maths Score":average_math_summary,
                "Average Reading Score":average_reading_summary,
                "% Passing Maths":math_percentage_summary,
                "% Passing Reading":reading_percentage_summary,
                "%Overall Passing":overall_percentage_summary})

In [126]:
school_type_df= school_summary4.groupby("School Type")
school_type_df.mean()

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,%Overall Passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340